body {
    background-color: black;
    color: white;
}

a {
    color: azure;
}
/**{*/
/*    border: solid red 1px;*/
/*}*/
img {
    width: 300px;
}

#header{
    border: 2px solid white;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 7px;
    text-align: center;
}
h1 {
    font-family: sans-serif;
}