#ipsum {
    width: 25%;
    float: left;
    padding: 5px;
    margin: 1rem;
}

#ipsum, #quenya, #pirate {
    border: 1px solid black;
    width: 25%;
    float: left;
    padding: 5px;
    margin: 1rem;
}

img {
    position: absolute;
    top: 0;
    right: 0;
/*    z index : -1 puts stop behind */

}

footer {
    margin: auto;
    width: 20%;
}

footer p {
    text-align: center;
    position: relative;
    left: 5px;

}