h1 {
    color: ghostwhite;
    text-decoration: underline;
    color: black;

}

.fancy-header {
    text-align: center;
}

* {
    color: black;
    font-family: Papyrus ;
    /*font-family: 'Qwitcher Grypen', cursive;*/
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}


.background {
    background-image: url("../img/codeup-logo-with-codey.png");
    background-position: center center;
    background-size: auto;
    background-repeat: repeat;
}

#background {
    background-color:rgb(255 255 255 / 73%);;
}

li {
    list-style-type: lower-roman;
}

td, tr {
    padding: 5px;
    font-size: 30px;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}

a:hover {
    color: red;
}

a:active {
    color: yellow;
}