:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: var(--main-bg);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://picsum.photos/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}
.top-nav {
    background: var(--light-bg);
    position: fixed; /*added*/
    width: 100%; /* added*/
    z-index: 1000; /*added*/
}
.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.nav-item { /* added*/
    display: inline-block; /*added*/
    padding: 1.5em; /*added*/
}

.profile-image{     /* added*/
    position: absolute; /*added*/
    top: 235px; /*added*/


}

.profile {     /*added*/
    height: 80px; /*added*/
}

.profile-form {    /*added*/
line-height: 80px; /*added*/
}

.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
}
.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}

.profile-details {  /*added*/
    float: left;
    margin: 0 .5em;
    width: calc(25% - .5em);

}

.timeline {       /*added*/
    float: left;
    margin: 0 .5em;
    width: calc(50% - .5em);
}

.who-to-follow {    /*added*/
    float: right;
    width: calc(25% - .5em);
    margin: 0 .5em;

}

.container {   /*added*/
    margin: 2em;
    display: flex;
}

.media {   /*added*/
    width: 100%;
    background-color: var(--light-bg);
    border-bottom: 1px var(--separator-color) solid ;
    padding: .5em;
    overflow: auto;
}

.media-image {  /*added*/
    max-width: 50px;
    margin-top: 1.33em;
    float: left;
}

.media-image { /*added*/
    width: 50px;
    float: left;
    margin-top: 1.33em;
}

.media-body {   /*added*/
    float: left;
    width: calc(100% - 50px)
}

.profile-items  { /*added*/
list-style: none;
    padding: 0;
}

.profile.entry { /*added*/
    margin: 0.5em
}

