*{
    font-family: 'Rubik', sans-serif;

}

body {
    background: #eee;
    background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
}


#map {
    height: 350px;
    width: 100%;
    border: 2px solid black;
}

/* Targets the weather descriptions*/
.date {
    background-color: gray;
    border: 1px solid black;
    opacity: 95%;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

.temp {
    text-align: center;
}

.description {
    text-align: center;
}

.humidity {
    text-align: center;
}

.wind {
    text-align: center;
}

.preassure {
    text-align: center;
}
/*^^*/

#buttonPlacement {
    margin-top: 4em;

}


/**/
.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}


#menu {
    position: absolute;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0));
    text-align: center;
    justify-self: center;
    width: 100%;
    margin-bottom: 3em;
}

.radio {
    padding-right: 60px;
}


